<ion-header>
  <ion-toolbar>

    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Step 2 - Confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">

          <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
            <ion-list>

              <ion-item lines="none" text-center>
                <ion-label>
                  <p text-wrap>A confirmation message has been sent to your email.</p>
                  <p text-wrap> If you do not receive the confirmation message within a few minutes, please check your Spam or Bulk E-Mail folder.</p>
                  <p text-wrap>Please enter the confirmation code below.</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="error" text-center>
                <ion-label color="danger" text-wrap>Error: {{error}}</ion-label>
              </ion-item>

              <ion-item *ngIf="information" text-center>
                <ion-label text-wrap>{{information}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Confirmation Code</ion-label>
                <ion-input type="text" formControlName="code"></ion-input>
              </ion-item>

              <ion-item lines="none" text-center>
                <ion-label>
                 <ion-button type="submit" size="large" [disabled]="!confirmForm.valid">Next</ion-button>
                </ion-label>
              </ion-item>

              <ion-item lines="none" text-center>
                <ion-label>
                  <p><a (click)="resendCode()">Need the code to be resent?</a></p>
                </ion-label>
              </ion-item>


          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
